*{
    margin: 0;
    padding: 0;
}
header{
    background-color: gray;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
section h1{
    margin-top: 10px;
    text-align: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
 }  
.holder{
    background-color: gray;
    width: 30%;
    padding: 10px;

}
.holder h2{
    text-align: center;
}
@media (max-width: 767px) {
    
}